[Desktop Entry]
Name=Niri
Comment=A scrollable-tiling Wayland compositor
Exec=dbus-run-session /home/nsolichin/.nix-profile/bin/niri --session
Type=Application
DesktopNames=niri
